extends ../shared/_layout
block content
    section
        .container
            .row
                .col-sm-10.col-sm-offset-1
                    .post-snippet.mb64
                        img.mb24(alt='Post Image', src="/campaigns/campaign/picture/" + campaign.image)
                        .post-title
                            span.label Created on #{moment(campaign.createdOn).format('MMMM Do YYYY, h:mm a')}
                            h4.inline-block #{campaign.title}
                        ul.post-meta
                            li
                                i.ti-user
                                    span Created by
                                        a(href="/user/profile/" + campaign.creator.id) #{campaign.creator.username}
                            li
                                i.ti-tag
                                    span Category 
                                        a(href='/campaigns/campaign/category/' + campaign.category) #{campaign.category}
                            li
                                i.ti-thumb-up
                                    span#votes-count #{campaign.upVotes}
                        hr
                        p.lead #{campaign.description}
                    .modal-container
                        a.btn.btn-lg.btn-modal(href='#') Donate
                        if campaign.loggedUser.loggedIn
                            if campaign.loggedUser.alredayLiked
                                a#upvote-btn.btn.btn-lg.btn-filled Dislike
                            else
                                a#upvote-btn.btn.btn-lg.btn-filled Like
                        .foundry_modal.text-center
                            h3.uppercase Donate to this cause
                            if campaign.loggedUser.loggedIn
                                p.lead.mb48 Please fill the form to procceed with the donation
                                form(method='POST', action='/campaigns/donate/'+ campaign._id, id='donation-form')
                                    //- input.mb0(id="campaign-id", type="hidden", name="campaignId", value= campaign._id )
                                    label(for="credit-card") Credit card number
                                    input(id="credit-card", type="text", name="creditCardNumber" required)
                                    label() Donation value
                                    input(id="donation", type="text", name="donationValue" required)
                                    button.btn-white.mb0(id="donate-btn", type='submit') Donate
                            else
                                p.lead.mb48 Please log in in order to donate
                if campaign.loggedUser.loggedIn            
                            form(method='POST', action="/campaigns/campaign/" + campaign._id)
                                //- input(type="hidden", name="campaignId", value= campaign._id )
                                textarea(rows='3', id="comment-content", name="commentContent", placeholder='Comment')
                                input(id="add-comment", type="submit", value="AddComment")
                .comments
                    p #{campaign.comments.length + 5 } comments
                        hr
                        ul.comments-list
                            each comment in pagedComments
                                li.comments-list
                                    .avatar
                                        img(alt='Avatar', src="http://mms.businesswire.com/bwapps/mediaserver/ViewMedia?mgid=106864&vid=4&download=1")
                                    .comment
                                        span.uppercase.author Posted by: #{comment.commentAuthor}
                                        p #{comment.commentContent}
                                hr
    script(src="/public/js/campaign-details.js")
    block scripts
    