extends ../shared/_layout
block content
    h1 #{campaign.title}
    img(class="settings-avatar" src="/campaigns/campaign/picture/" + campaign.image)
    p #{campaign.description}
    form(method='POST', action='/campaigns/donate')
        input(id="campaign-id", type="hidden", name="campaignId", value= campaign._id )
        label(for="credit-card") Credit card number
        input(id="credit-card", type="text", name="creditCardNumber" required)
        label(for="donation-value") Donation value
        input(id="donation-value", type="text", name="donationValue" required)
        input(id="donate-btn", type="submit", value="Donate")
    p Created by #{campaign.creator.creatorName} on #{campaign.createdOn}
    p 
        span funds 
        span#funds  #{campaign.funded}
        span#target  / #{campaign.target}
    p votes 
        span#votes-count #{campaign.upVotes}
        a#upvote-btn.btn.btn-sm Like
block scripts
    script(src="/public/js/campaign-details.js")