extends ../shared/_layout
block content
    section
        .container
            .row
                .col-sm-10.col-sm-offset-1
                    .post-snippet.mb64
                        img.mb24(alt='Post Image', src="/campaigns/campaign/picture/" + campaign.image)
                        .post-title
                            span.label Created on #{moment(campaign.createdOn).format('MMMM Do YYYY, h:mm')}
                            h4.inline-block #{campaign.title}
                        ul.post-meta
                            li
                                i.ti-user
                                    span Created by
                                        a(href="/user/profile/" + campaign.creator.id)  #{campaign.creator.username}
                            li
                                i.ti-tag
                                    span Category
                                        a(href='/campaigns/campaign/category/' + campaign.category)  #{campaign.category}
                            li
                                i.ti-thumb-up
                                    span#votes-count #{campaign.upVotes}
                        hr
                        p.lead #{campaign.description}
                    .modal-container
                        a.btn.btn-lg.btn-modal(href='#') Donate
                        if campaign.loggedUser.loggedIn
                            if campaign.loggedUser.alredayLiked
                                if loggedUser.isBlocked
                                    a.btn.btn-lg.btn-filled(disabled) Dislike
                                else
                                    a#upvote-btn.btn.btn-lg.btn-filled Dislike
                            else
                                if loggedUser.isBlocked
                                    a.btn.btn-lg.btn-filled(disabled) Like
                                else
                                    a#upvote-btn.btn.btn-lg.btn-filled Like
                            if !campaign.isReported
                                a#report-btn.reported.btn.btn-lg(alt="Report unexpurgated content." title="Report if unexpurgated content") Report Content
                            else
                                a.reported.btn.btn-lg(alt="Reported for unexpurgated content." title="Reported for unexpurgated content.") Reported Content
                            if loggedUser.isAdmin
                                a#delete-campaign-btn.reported.btn.btn-lg(alt="Block unexpurgated content." title="Block if unexpurgated content") Delete
                        .foundry_modal.text-center
                            h3.uppercase Donate to this cause
                            if campaign.loggedUser.loggedIn
                                p.lead.mb48 Please fill the form to procceed with the donation
                                form(method='POST', action='/campaigns/donate/'+ campaign._id, id='donation-form')
                                    input.display-block(style='width: 100%' id="credit-card", type="number", name="creditCardNumber" placeholder='Enter credit card number' required)
                                    input.display-block(style='width: 100%' id="donation", type="number", name="donationValue" placeholder='Enter donation value' required)
                                    button.btn-white.mb0(id="donate-btn", type='submit') Donate
                            else
                                p.lead.mb48 Please log in in order to donate
                if campaign.loggedUser.loggedIn && !loggedUser.isBlocked
                            form(method='POST', action="/campaigns/campaign/" + campaign._id)
                                textarea(rows='3', id="comment-content", name="commentContent", placeholder='Comment', required)
                                input(id="add-comment", type="submit", value="Add Comment")
                .comments
                    ul.comments-list
                        each comment in pagedComments
                            li.comments-list
                                .avatar
                                    a(href="/user/profile/" + comment.commentAuthorId)
                                        img(alt='Avatar', src="/user/avatar/" + comment.commentAuthorImage)
                                .comment
                                    span.uppercase.author Posted by: #{comment.commentAuthor}
                                    p #{comment.commentContent}
                            hr
    script(src="/public/js/campaign-details.js")
    block scripts
